@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

:root {
  --border-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-3)
  );
  --bg-surface: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  --bg-input: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  --focus-color: var(--mantine-color-Remoraid-6);
  /* Add more variables as needed based on the theme.ts analysis */
}

.cursor-pointer {
  cursor: pointer;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.flex-center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animate-spin-custom {
  animation: spin 1s linear infinite;
}

.flex-center-mb-large {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
